{{#if global.menuItems}}
	<nav class="header__navigation">
		<ul>
			{{#each global.menuItems}}
				{{log url}} {{log title}}
				{{log isActive}}

				<li>
					<a href="{{url}}" {{isActive}}>
						{{title}}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
{{/if}}
